.containerPlanos {
  margin: 10rem 0 0 0;
}

.planos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;


  &__title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;

    h2 {
      font-size: 3rem;
    }
  }

  &__divider {
    border-bottom: 1px solid #ebeef0;
    margin: 20px 0;
  }
}

.planCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
  position: relative;
  text-align: center;

  &.mostSold {
    border: 2px solid #e9b311;
  }

  .mostSoldLabel {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e9b311;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }

  h2 {
    color: #3f51b5;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .price {
    margin: 20px 0;

    .originalPrice {
      text-decoration: line-through;
      color: #777777;
      margin-right: 5px;
    }

    .perMonth {
      display: block;
      color: #777777;
      font-size: 0.8rem;
    }
  }

  .duration {
    font-size: 0.8rem;
    color: #666666;
    margin-bottom: 14px;
    text-align: left;
  }

  button {
    margin-top: 10px;
  }
}

.testeMarquei {
  margin: 5rem 0rem;
  padding: 2rem;
  text-align: center;
  background-color: #3f51b5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7rem;


  p {
    color: #fff;
    font-weight: bold;
  }

  button {
    background-color: #fff;
    color: #666666;
    font-weight: bold;
    width: 250px;
  }

  button:hover {
    background-color: #fff;
    color: #666666;
  }

  img {
    width: 16rem;
  }
}

@media (max-width: 768px) {
  .containerPlanos {
    margin: 8rem 0 0 0;
  }

  .planos__title {

    h2 {
      font-size: 30px;

    }
  }

  .testeMarquei {
    img {
      display: none;
    }
  }
}