.tabela {
    margin: 2rem 4rem;
}

.tabela h1, h3 {
    color: var(--cinza-texto);
}

.datePickerReset {
    display: flex;
    margin-bottom: 1rem;
}

.datePickerReset h3 {
    margin: 0 2rem 0 0 ;
}

.modal-btn {
    transition: 0.5s ease;
    color: white  !important;
    margin: 1rem 1.3rem;
}

.modal-btn:hover {
    transform: scale(1.05);
}

.button-orange {
    background-color: #ff7f00;
    border-color: #ff7f00;
}

.button-red {
    background-color: white;
    border-color: red  !important;
    color: red !important;
}
.button-red:hover {
    background-color: white;
    border-color: red;
    color: red !important;
}

.button-orange:hover {
    background-color: #ff9a33  !important;
    border-color: #ff7f00  !important;
}

.button-green {
    background-color: green;
    border-color: green;
}

.button-green:hover {
    background-color:green  !important;
    border-color:green  !important;
}

.button-whats {
    background-color: #25D366
;
    border-color: #25D366
;
}

.button-whats:hover {
    background-color:#25D366
  !important;
    border-color:#25D366
  !important;
}

.btnhistory {
    margin-left: 1rem;
}

.modalConfirm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.desabilitar {
    margin: 2rem 5rem;
}


.desabilitar  h1, h2 {
    color: var(--cinza-texto);
}

.baloom {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .tabela {
        margin: 0 1rem;
    }

    .tabela h1 {
        font-size: 18px;
        margin-top: 2rem;
    }
    .tabela p {
        font-size: 12px;
    }


}