.padrao-semanal-mobile {
    display: flex;
    justify-content: start;
    align-items: center;
}

.data-horarios-desabilitados {
    margin-top: 20px;
}

.dataHorarios h2 {
    font-size: 30px;
}



@media (max-width: 768px) {
    .datadesabilitados {
        font-size: 1px !important;
    }
}