.calendario {
    margin: 1rem 4rem;
}

.mobileAlert {
    font-size: 12px;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.calendario h1 {
    color: var(--cinza-texto);
}

.calendario .rbc-row:nth-child(n+2) {
    display: none;
}


.status-indicators {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.indicator {
    display: flex;
    align-items: center;
    gap: 5px;
}

.square {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}

.yellow {
    background-color: #FFD700;
}

.red {
    background-color: #ef4d27;
}

.green {
    background-color: #34ab6e;
}


.rbc-header {
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    line-height: 30px;


}

.rbc-date-cell {
    font-weight: bold;
    font-size: 16px;
}

.custom-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.custom-tooltip button {
    margin: 6px 0;
}

.calendar-controls {
    margin-bottom: 1rem;
}

.calendar-controls button {
    margin-right: 1rem;
    margin-bottom: .3rem;
}

@media (max-width: 768px) {
    .calendario {
        margin: 1rem 1rem;
        text-align: center;
    }

    .calendario h1 {
        margin-top: 2.5rem;
        font-size: 20px;
    }

    .calendario p {
        font-size: 12px;
    }

    .status-indicators {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .indicator {
        font-size: 13px;
    }

    .square {
        width: 15px;
        height: 15px;
        border-radius: 4px;
    }

    .rbc-toolbar-label {
        margin-top: 1rem;
    }

    
}