.dashboard {
    margin: 3rem 2.5rem;
}

.dashboard h1 {
    color: var(--cinza-texto);
}

.dashboard-buttons {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-button {
    margin-right: .8rem;
}

.dashboard-radials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.chartContainer {
    width: 500px;
    height: 300px;
    margin: 0;
}

.chartContainerLeftAlign {
    margin-left: 0;
    padding-left: 0;
}


@media only screen and (max-width: 768px) {
    .dashboard h1 {
        font-size: 20px; 
    }

    .dashboard-buttons {
        flex-direction: column; 
        align-items: stretch; 
    }

    .dashboard-button {
        margin-bottom: 10px; 
    }

    .chartContainer {
        height: 250px; 
    }
}